<div class="row">
    <div class="col-md-12">
        <h3>{{page_title}}</h3>
        <hr>

        <table class="table table-hover">
            <thead class="thead-default">
                <!--una columna-->
                <tr>
                    <!--filas de la columna-->
                    <th>Titulo</th>
                    <th>Fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!--for of de javascript de toa la vida, topic hace referencia a los elementos del array topics-->
                <tr *ngFor="let topic of topics">
                    <td>{{topic.title}}</td>
                    <td>{{topic.date | amLocale:'es' | amDateFormat:'LL'}}</td>
                    <!--ocupando los formatos de moment y tambien poniendolo en español :D-->
                    <td>
                        <!--le pasamos el id por la ruta-->
                        <a [routerLink]="['/panel/editar', topic._id]" class="btn btn-sm btn-warning me-2">Editar</a>
                        <!-- <a href="#" class="btn btn-sm btn-danger">Borrar</a> |  le ponemos el databstarget dentro de atributo de angular y asi poder conetarlo con su modal-->
                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" [attr.data-bs-target]="'#modal'+topic._id">Borrar</button>
                        <!-- Modal -->
                        <div class="modal fade" id="{{'modal'+topic._id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Esta seguro de borrar este tema?</h5>
                                        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                                    </div>
                                    <div class="modal-body">
                                        Vas a borrar el tema {{topic.title}}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-primary" (click)="deleteTopic(topic._id)" data-bs-dismiss="modal">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>