<div class="row justify-content-center mt-3">
    <div class="col-md-8">
        <div class="p-5 bg-light">
            <div class="container text-center">
                <h1 class="display-3">{{page_title}}</h1>
                <!--con {{}} mostramos nuestrapropiedad de .ts-->
                <p class="lead">Pon tus dudas, aprende y ayuda a tus compañeros desarrolladores</p>
                <hr class="my-2">
                <a class="btn btn-success btn-lg me-3 mb-1" href="" routerLink="/usuarios" role="button">Ver compañeros</a>
                <a class="btn btn-primary btn-lg me-3 mb-1" routerLink="/temas" role="button">Ver temas</a>
                <a class="btn btn-warning btn-lg me-3 mb-1" href="" routerLink="/panel/crear" role="button">Añade un nuevo tema</a>
            </div>
        </div>
    </div>
</div>